/* CardModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    border-radius: 17px;
    backdrop-filter: blur(5px);
  }
  
  .modal-content {
    color: #fff;
    padding: 20px;
    max-width: 600px; 
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 8px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    background: rgb(5, 6, 45);
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-radius: 17px;
  }
  
  
  .modal-content h2 {
    margin-bottom: 16px;
    font-size: large;
  }
  
  .modal-content p {
    margin-bottom: 12px;
  }
  
  .modal-content a {
    color: white;
    text-decoration: none; 
  }
  
  .x-close {
    position: absolute;
    top: 10px; 
    right: 15px;
    width: 3em;
    height: 3em;
    border: none;
    background: rgba(180, 83, 107, 0.11);
    border-radius: 5px;
    transition: background 0.5s;
  }
  
  .X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
  }
  
  .Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
  }
  
  .close {
    position: absolute;
    display: flex;
    padding: 0.8rem 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    top: -70%;
    left: 50%;
    width: 3em;
    height: 1.7em;
    font-size: 12px;
    background-color: rgb(19, 22, 24);
    color: rgb(187, 229, 236);
    border: none;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
  }
  
  .x-close:hover {
    background-color: rgb(211, 21, 21);
  }
  
  .x-close:active {
    background-color: rgb(130, 0, 0);
  }
  
  .x-close:hover > .close {
    animation: close 0.2s forwards 0.25s;
  }
  
  @keyframes close {
    100% {
      opacity: 1;
    }
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    padding: 8px;
    text-align: left;
  }
  
  .label {
    width: 150px;
    color: white;
  }
  

  @media screen and (max-width: 720px) {
    .modal-content {
      width: 80%; 
      margin: 0 auto; 
      height: auto;
      
    }
  
    table {
      font-size: 14px; 
    }
  
    td:not(.label) {
      padding: 6px;
      word-break: break-all;
  }
  
    .label {
      width: auto; 
    }
  
    .x-close {
      position: relative;
      top: unset;
      right: unset;
      width: 100%;
      max-width: 200px; 
      margin: 20px auto 0; 
    }
  }
  