/* App.css */
body {
  font-family: 'Google Sans', sans-serif;
  background-color: #000000;
  position: relative;

}

.app {
  margin-top: 0 5px 5px 5px;
}

/* Navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #484848;
  font-family: 'Google Sans', sans-serif;
  margin-bottom: 30px;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.logo {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.search-filter {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Google Sans', sans-serif;
}

.search-filter input[type='text'] {
  padding: 5px;
  margin-right: 10px;
  font-family: 'Google Sans', sans-serif;
  background-color: #484848;
  color: #ffffff;
  border-radius: 10px;
}

.search-filter input::placeholder {
  color: #e5e5e8;
}

.search-filter {
  padding: 2px 10px;
  cursor: pointer;
  font-family: 'Google Sans', sans-serif;
  color: #e5e5e8;
  border-radius: 10px;
}

.Btn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all .3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}

.signup {
  position: relative;
  margin-right: 10px;
  padding: 5px 7px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.signup:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.signup:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.signup::before,
.signup::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.signup:hover::before,
.signup:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.signup:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.signup:hover::after {
  transform: translate(50%, 0) scale(1.1);
}



/* Cards styling */
.card-list {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.card-item {
  /* position: relative; */
  flex-basis: 100%;
  /* backdrop-filter: blur(10px); doesnt let fixed work */
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  /* animation-fill-mode: forwards; doesnt let fixed work */
  overflow: hidden;
  height: auto;
  color: #e5e5e8;
  background-color: #000000;
  border: 2px solid rgba(255, 255, 255, 0.25);
  ;

}




.card-item:hover {
  cursor: pointer;
}


h3 {
  color: #fff;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.card-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  font-family: 'Google Sans', sans-serif;
  text-align: center;
}


.card-type-icon {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Logo button */

.button {
  display: flex;
  margin-bottom: 10px;
  margin-top: 5px;
}

.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all .8s;
  cursor: pointer;
  position: relative;
  background: transparent;
  overflow: hidden;
}


/* Footer style */
.footer {
  text-align: center;
  padding: 1px;
  backdrop-filter: blur(10px);
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}


@media screen and (max-width: 720px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    margin: auto;
    padding: 0;
    height: 25px;
  }

  .search-filter {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .search-filter input[type='text'] {
    width: 80%;
    justify-content: left;

  }

  .Btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 720px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }

  .card-item {
    width: 100%;
    height: auto;
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 15px;
  border-top: 1px solid #484848;
}

.icon-button {
  margin: 0 5px 0 5px;
}

.icon-button:hover {
  cursor: default;
}